.App {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/998499/pexels-photo-998499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

body {
  margin: 0;
}

.p-5 {
  padding: 5px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}
